<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <h4>イベント詳細</h4>
      <div>
        <div><%= image_tag @event.get_event_image, size: "150x150" %></div>

        <div>イベント名  <%= @event.name %></div>

        <div>イベント説明  <%= @event.introduction %></div>

        <div>イベント開催日  <%= l @event.season_start %>〜<%= l @event.season_end %></div>

        <div>時間  <%= l @event.time_start, format: :time %>〜<%= l @event.time_end, format: :time %></div>

        <div>場所  <%= @event.place %></div>

        <div>料金  <%= @event.price %></div>

        <div class="text-dark"><i class="fas fa-tag"></i> <%= @event.tags.map(&:tagname).join(', ') %></div>

        <div>ユーザー画像<%= image_tag @event.user.get_profile_image, size: "100x100" %></div>
        <div>ユーザーネーム:<%= @event.user.name %></div>
        <div>投稿日:<%= l @event.created_at %></div>

        <div id="bookmark_button_<%= @event.id %>">
          <%= render "public/bookmarks/bookmark", event: @event %>
        </div>

        <% if @event.user == current_user %>
          <%= link_to "削除", event_path(@event), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          |
          <%= link_to "編集", edit_event_path(@event.id) %>
        <% end %>
      </div>

    </div>
  </div>
</div>
<!--コメントフォーム-->
<div class="new-comment">
  <%= render 'public/event_comments/form', event: @event, event_comment: @event_comment %>
</div>
<!--コメント一覧-->
<div id="comments_area">
  <%= render 'public/event_comments/event_comments', event: @event %>
</div>

<div><%= link_to "グループを作成する", new_event_group_path(@event) %> | <%= link_to "グループ一覧",event_groups_path(@event) %></div>