<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2>グループ詳細</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>グループ名</th>
            <th>メンバー</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @group.name %></td>
            <td>
              <% @group.users.each do |member| %>
                <%= member.name %><br>
              <% end %>
            </td>
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to "グループ削除", event_group_path(@group.event, @group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <!--投稿フォーム-->
      <div>
        <%= form_with model: @chat, url: event_group_chats_path(@group.event, @group.id), local:true do |f| %>
          <%= f.text_field :message %>
          <%= f.hidden_field :group_id %>
          <%= f.submit "chat"%>
        <% end %>
        <table>
          <thead>
            <tr>
              <td>投稿者名</td>
              <td>投稿内容</td>
            </tr>
          </thead>
          <tbody>
            <% @chats.each do |chat| %>
              <tr>
                <td><%= chat.user.name %></td>
                <td><%= chat.message %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>