<div class='container'>
  <div class='row my-5'>
    <div class='col-lg-7'>
      <h2>グループチャット</h2>
      <!--チャットフォーム-->
      <div>
        
        <%= render 'public/chats/form', chat: @chat, group: @group %> <!--チャットの新規作成-->

        <div class="error-alert"></div>  <!--エラーメッセージを表示-->

        <% if @chats.present? %>
          <div id="chats_area">
            <% @chats.each do |chat| %> <!--チャット履歴の表示-->
              <%= render 'public/chats/group_chats', chat: chat %>
            <% end %>
          </div>
        <% else %>
          <p>チャットはまだありません</p>
        <% end %>
      </div>
    </div>
    <div class="col-5">
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>グループ名</th>
            <th>メンバー</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @group.name %></td>
            <td>
              <% @group.users.each do |member| %>
                <%= member.name %><br>
              <% end %>
            </td>
            <td>
              <div><%= link_to '退会する', event_group_withdrawal_path(@group.event, @group), method: :delete, class: "btn btn-sm btn-outline-danger" %></div>
              <div>
                <% if @group.owner_id == current_user.id %>
                  <%= link_to "グループ削除", event_group_path(@group.event, @group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>