<% if event.event_comments.present? %>
  <% event.event_comments.order(created_at: :desc).each do |event_comment| %>
    <div class="d-flex mb-3">
      <div>
        <%= image_tag event_comment.user.get_profile_image, size: "50x50", class: "rounded-circle mr-2" %>
      </div>
      <div>
        <div class="d-flex">
          <strong class="mr-1"><%= event_comment.user.name %></strong>
          <div class="text-muted mr-1"><%= l event_comment.created_at %></div>
          <div class="mr-1">
            <% if event_comment.user == current_user %>
              <%= link_to event_event_comment_path(event_comment.event.id, event_comment.id), method: :delete, remote: true, class: "text-reset" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="text-break">
          <%= safe_join(event_comment.comment.split("\n"),tag(:br)) %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>イベントの感想はまだありません</p>
<% end %>