<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <div class="img-container"><%= image_tag @user.get_profile_image, size: "100x100", class: "rounded-circle" %></div>
      <h3><%= @user.name %></h3>
      <div><%= @user.email %></div>
      <div>ユーザーステータス</div>
      <% if @user.is_deleted == false %>
        <strong class="text-success">有効</strong>
      <% else %>
        <strong class="text-denger">退会済み</strong>
      <%end%>
      <div><%= link_to "プロフィール編集", edit_admin_user_path %></div>
    </div>
    <div class="col-md-6 mx-auto">
      <% if @events.present? %>
        <% @events.each do |event| %>
          <%= link_to event_path(event.id) do %>
            <div class="card flex-md-row mb-4 shadow h-md-250">
              <div class="img-container"><%= image_tag event.get_event_image, size: "220x220", class: "card-img-left flex-auto d-none d-lg-block" %></div>
              <div class="card-body d-flex flex-column align-items-start">
      
                <h4 class="mb-0 text-dark"><%= event.name.truncate(13) %></h4> <!--イベント名-->
      
                <div class="mb-1 text-muted"> <!--イベント期間-->
                  <span>期間：</span>
                  <% if event.season_start == event.season_end %>
                    <%= l event.season_start %>
                  <% else %>
                    <%= l event.season_start %>~<%= l event.season_end %>
                  <% end %>
                </div>
      
                <div class="mb-1 text-muted"><span>場所：</span><%= event.place.truncate(16) %></div> <!--イベント場所-->
      
                <div class="card-text text-dark mb-auto"><%= event.introduction.truncate(40) %></div> <!--イベント説明-->
      
                <div class="text-dark"><i class="fas fa-tag"></i> <%= event.tags.map(&:tagname).join(', ').truncate(18) %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>投稿はまだありません</p>
      <% end %>
      <div class="row justify-content-center mt-5">
        <%= paginate @events %>
      </div>
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
</div>